In [6]:
# Q1 - Explain with an example each when to use a for loop and a while loop.

In [56]:
'''A for loop is used when we want to repeat a set of instructions a specific number of times 
and A while loop is used we want to repeat a set of instructions number of times, until a specific condition is met'''

 'for' loop is used when we want to repeat a set of instructions a specific number of times and 'while' loop is used we want to repeat a set of instructions number of times, until a specific condition is met'

In [8]:
for i in range(1, 11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [10]:
i = 1
stop = 10

while i <= stop:
  print(i)
  i=i+1

1
2
3
4
5
6
7
8
9
10

In [11]:
#################################################

In [13]:
""" Q2. Write a python program to print the sum and product of the first 10 natural numbers using for
and while loop."""

' Q2. Write a python program to print the sum and product of the first 10 natural numbers using for\nand while loop.'

In [22]:
s=0
p=1
for i in range(1,11):
    s=s+i
    p=p*i
print("sum of 1st 10 natural no is ", s)
print("product of 1st 10 natural no is ", p)

sum of 1st 10 natural no is  55
product of 1st 10 natural no is  3628800

In [23]:
i=1
s=0
p=1
while i <=10:
    s=s+i
    p=p*i
    i=i+1
print("sum of 1st 10 natural no is ", s)
print("product of 1st 10 natural no is ", p)

sum of 1st 10 natural no is  55
product of 1st 10 natural no is  3628800

In [24]:
###########################################################

In [25]:
''' create a python program to compute the electricity bill for a household.
The per-unit charges in rupees are as follows: For the first 100 units, the user will be charged Rs. 4.5 per
unit, for the next 100 units, the user will be charged Rs. 6 per unit, and for the next 100 units, the user will
be charged Rs. 10 per unit, After 300 units and above the user will be charged Rs. 20 per unit.
You are required to take the units of electricity consumed in a month from the user as input.
Your program must pass this test case: when the unit of electricity consumed by the user in a month is
310, the total electricity bill should be 2250.'''

' create a python program to compute the electricity bill for a household.\nThe per-unit charges in rupees are as follows: For the first 100 units, the user will be charged Rs. 4.5 per\nunit, for the next 100 units, the user will be charged Rs. 6 per unit, and for the next 100 units, the user will\nbe charged Rs. 10 per unit, After 300 units and above the user will be charged Rs. 20 per unit.\nYou are required to take the units of electricity consumed in a month from the user as input.\nYour program must pass this test case: when the unit of electricity consumed by the user in a month is\n310, the total electricity bill should be 2250.'

In [53]:

x = int(input("units of electricity consumed in a month: "))

if x<=100:
    bill=x*4.5
elif x <=200:
    bill = 100*4.5 + (x-100)*6
elif x<=300:
    bill = 100*4.5 + 100*6 + (x-200)*10
else:
    bill = 100*4.5 + 100*6 + 100*10 + (x-300)*20
print('\nyour consumed unit is', x , 'and your bill is', bill, 'Rs.\n')

units of electricity consumed in a month:  310

your consumed unit is 310 and your bill is 2250.0 Rs.

In [54]:
###########################################################

In [55]:
'''Q4. Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each
number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print
that list.'''

'Q4. Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each\nnumber and if the cube of that number is divisible by 4 or 5 then append that number in a list and print\nthat list.'

In [1]:
x1=list(range(1,101))
#print(x1)
x2=[]
for i in x1:
    cube=i**3
    if cube % 4 == 0 or cube % 5 == 0:
        x2.append(i)
print(x2)

[2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

In [3]:
x2=[]
i = 1
while i <= 100:
    cube=i**3
    if cube % 4 == 0 or cube % 5 == 0:
        x2.append(i)
    i=i+1
print(x2)

[2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

In [4]:
###########################################################

In [5]:
'''Q5. Write a program to filter count vowels in the below-given string.
string = "I want to become a data scientist"'''

'Q5. Write a program to filter count vowels in the below-given string.\nstring = "I want to become a data scientist"'

In [3]:
x="I want to become a data scientist"
vowels = "aeiouAEIOU"
count = 0

for i in x:
    if i in vowels:
        count=count+1
print('total count of vowels in given string is ', count)

total count of vowels in given string is  12